---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Jack WebDev | Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5 text-[#12395d]">My Services</div>
  </div>

  <HorizontalCard
    title="Design"
    img="/Design-BG.jpg"
    desc="I pride myself in being able to create eye catching designs for clients, rich in quality and leave a lasting impression on their brands/websites."
    badge="NEW"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Web Develoment"
    img="/WebDev-BG.jpg"
    desc="I am conviced all websites must be easy to find and effortless to use, hence one of my specialities is accessibility. I offer clients fully customised websites that are easy to use and fully responsive."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Online Marketing"
    img="/Marketing-BG.jpg"
    desc="With the help of Google SEO and social media marketing, I am able to help brands grow and build relationships with their clientele through online marketing platforms."
    url="#"
    badge="NEW"
  />
</BaseLayout>
