---
const today = new Date();
---

<footer class="footer footer-center block pb-5 pt-10 bg-[#7db0de]">
  <div class="pb-2 font-bold flex justify-center items-center">&copy; {today.getFullYear()} <span class="font-ff text-xl font-bold">
    <a class="hover:text-white" target="_blank" href="https://github.com/Jack-WebDev">Jack Webdev</a>
    </span></div>
</footer>
<style>

</style>
