---
const today = new Date();
---

<footer class="footer footer-center block pb-5 pt-10 bg-[#7db0de]">
  <div class="pb-2 font-bold">
    &copy; {today.getFullYear()} Jack Webdev
  </div>
</footer>
<style>

</style>
