---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-[#12395d]";
---

<ul class="menu grow shrink menu-md overflow-y-auto bg-[#1d5c96] lg:justify-center">
    <li><a class="py-3 text-base text-[#f0f8ff] font-bold hover:bg-[#7db0de] md:text-[1.3rem] lg:text-[1.5rem]" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base text-[#f0f8ff] font-bold hover:bg-[#7db0de] md:text-[1.3rem] lg:text-[1.5rem]" id="projects" href="/projects">Projects</a></li>
    <li><a class="py-3 text-base text-[#f0f8ff] font-bold hover:bg-[#7db0de] md:text-[1.3rem] lg:text-[1.5rem]" id="services" href="/services">Services</a></li>
    <li><a class="py-3 text-base text-[#f0f8ff] font-bold hover:bg-[#7db0de] md:text-[1.3rem] lg:text-[1.5rem]" id="cv" href="/cv">CV</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
